div
  h2 path from #{start} to #{end}
  each path in paths
    hr
    table
      each step in path
        tr
          td= step.creator
          td co-authored with
          td= step.cocreator
          td
            button(onclick=`select(${step.libraryID},${step.itemID})`)= step.title
